.about{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(75deg, #fbeeee 11.08%, #f7fffe 89.87%);
}
.about h1{
    margin-top: 50px;
    color: #393280;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.about h5{
    margin:20px 40px;
    color: #888;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height:32px;
    letter-spacing: 2.08px;

}
/*Responsive*/
@media (max-width: 768px) {
    .about{
        margin-top: 0;
        height: 100%;
    }
    .about h1{
        font-size: 30px;
    }
    .about h5{
        font-size: 12px;
    }
}
