.cart{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
   
    
}
.cart h3{
    text-align: center;
    color: #393280;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 133.333% */
    margin: 20px 0;
}
.total__p{
    text-align: center;
   
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    margin: 20px 0;
}
.checkout-btn{
    background-color: #393280;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
   width: 16rem;
   height: 3rem;
   align-self: center;
   margin-bottom: 2rem;

}