.nav{
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 999;

}
.top_nav{

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #393280;
  height: 50px;
}
.icon{
  color: white;
  margin-left: 10px;
  font-size: 20px;
}
.top_nav p{
  color: white;
  font-size: 18px;
}
.social-icons{
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  
}
.mid_nav{
  display: flex;
  align-items: center;
}
.search{
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input{
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  background: #f6f6f6;
}
.search-icon{
  color: #393280;
  font-size: 20px;
  margin-right: 10px;
}
.mid_nav-list{
  margin-left: 50px;
}

.mid_nav-list ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mid_nav-list ul li{
  margin-right: 20px;
}
.mid_nav-list ul li a{
  color: #393280;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.bottom_nav{
  margin-top: 10px;
}

.bottom_nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.bottom_nav ul li{
  margin-right: 20px;
}
.bottom_nav ul li a{
  color: #393280;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.mobile_nav{
  display: none;
}
.logout{
  color: #393280;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}


/*Resposnive*/
@media screen and (max-width:1024px){
  
  .mid_nav-list ul li a,.logout{
    font-size: 15px;
  }
 
  
}
@media screen and (max-width:768px){
  .top_nav{
    height: 40px;
  }
  .top_nav p{
    font-size: 15px;
  }
  .social-icons{
    width: 100px;
  }
  .social-icons i{
    font-size: 20px;
  }
  .search input{
    width: 220px;
  }
}

@media screen and (max-width:480px) {
 
  
  .mid_nav-list{
    display: none;
  }
  .bottom_nav{
    display: none;
  }
  .mobile_nav{
    display: block;
  }
  
    .search{
    margin-left: 20px;
  }

  .menu-icon{
    color:#393280;
    margin-left: 10px;
 
  }
 
  .navbar__hamburger__icon_close{
    color: #fff;
      font-size: 30px;
    margin-right: 20px; 
    margin-top: 20px;
    align-self: flex-end;
}
.navbar__links{
  background-color: #393280;
display: flex;
position: fixed;
top:0;
right: 10px;

transition: 0.5s ease;
flex-direction: column;
z-index: 5;

}
.navbar__links ul{
    display: flex;
    flex-direction: column;
    width: 100vw;
    transition: all 0.5s ease-in-out;
   height: 100vh;
 
}
.navbar__links ul li{
    list-style: none;
    margin-top: 20px;
    margin-left: 20px;
  }
  .navbar__links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

}

@media screen and (max-width:375px) {
  .mid_nav{
    margin-top: 10px;
  }
  .search{
    margin-left: 20px;
  }
  .logo img{
    width: 50px;
    margin-left: 10px;
  
  }
  .search input{
    width: 150px;
  }
  .navbar__links ul li a{
    font-size: 15px;
  }
}